services:
  client:
    build:
      context: .
      dockerfile: ./packages/client/Dockerfile
      target: prod
    container_name: new-infra-test-client-prod
    ports:
      - "8080:80"
    restart: unless-stopped
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

networks:
  app-network:
    driver: bridge

